<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jimmy.vincent.suwandi.blackjack">

     <application
        android:allowBackup="true"
        android:icon="@drawable/abc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jimmy.vincent.suwandi.blackjack.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".SetBackground" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".PreferencesActivity" >
        </activity>
    </application>

</manifest>